.card {
  flex-grow: 1;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 10px 5px 5px #dc00ff0a;
}

.card p {
  font-weight: bold;
  text-align: left;
}
