h1 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: center;
}

.form {
  padding: 25px;
  background-color: white;
  margin: 25px;
}

#button {
  padding: 7px;
  margin: 5px;
  display: flex;
  text-align: center;
}


.enable {
  border-color: #white;
  box-shadow: 0 0 1rem #white;
  background-color: #1460AA;
  color: white;
}

// Creating two classes to differentiate the input whether it is valid or invalid
#subscription_phone {
  &.valid {
    color: green;
  }

  &.invalid {
    color: red;
  }
}
