h1 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: center;
}

.form {
  padding: 25px;
  background-color: white;
  margin: 25px;
}

#button {
  padding: 5px;
  display: flex;
  text-align: center;
}


.enable {
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  background-color: white;
}
