// Webpage should be responsive with mobile first theming approach.
// On mobile we use 1-column layout
// on tablet 2-column layout (Ipad Pro)
// on desktop 3-column layout

// Smallest device
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
}



// Medium devices (tablets - Ipad Pro, 768px and up)
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.grid .field:last-child {
  @media (min-width: 768px) {
    width: calc(300px - 10px);
    justify-self: center;
    grid-column-start: span 2;
   }
  }


.grid .card:last-child {
  @media (min-width: 768px) {
    width: calc(300px - 10px);
    justify-self: center;
    grid-column-start: span 2;
   }
  }

// Extra large devices (large desktops, 1030px and up)
@media (min-width: 1030px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.grid .field:last-child {
  @media (min-width: 1030px) {
    width: calc(300px - 10px);
    justify-self: center;
    grid-column-start: span 1;
   }
  }


.grid .card:last-child {
  @media (min-width: 1030px) {
    width: calc(300px - 10px);
    justify-self: center;
    grid-column-start: span 1;
   }
  }

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  padding: 10px;
  width: 100%;
  }






