.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1000px) {

    flex-wrap: wrap;
    flex-direction: initial;
  }

  @media screen and (min-width: 1300px) {
    flex-direction: initial;
  }
}

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  padding: 20px;
  width: 100%;
  @media screen and (min-width: 1000px) {
    width: 50%;
    box-sizing: border-box;
}

  @media screen and (min-width: 1300px) {
    width: 33.3%;
}
}
